<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragment/fragments :: html_head(${pageTitle}, 'tag')">
    </div>
</head>
<body>
<!-- Header -->
<div th:replace="/fragment/header :: web_header">
</div>
<!-- End Header -->

<div class="container mt-5">
    <h2 class="text-center">Change password successfully</h2>
    <div class="mt-2 text-center">
        <i class="fa-solid fa-circle-check fa-3x" style="color: #31cf66;"></i>
    </div>
    <div class="d-flex justify-content-center" style="align-items: center;">
        <a th:href="@{/login}" class="btn btn-outline-info mt-3">
            Click here to Login
        </a>
    </div>
</div>

<!-- Footer -->
<div th:replace="/fragment/footer :: web_footer">
</div>
<!-- End Footer -->

<!-- Bao gồm jQuery trước các script của bạn -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
