<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragment/fragments :: html_head(${pageTitle}, 'tag')">
    </div>
</head>
<body>
<!-- Header -->
<div th:replace="/fragment/header :: web_header">
</div>
<!-- End Header -->

<div class="container mt-5">
    <h2 class="text-center">Change Your Password</h2>
    <p class="text-center">Remember your password? <a class="text-decoration-none" th:href="@{/login}">Login here</a></p>
    <th:block th:if="${errorMessage!=null}">
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show d-inline-block mx-auto" role="alert" >
                <i class="fa-solid fa-circle-exclamation"></i>
                [[${errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </th:block>
    <form class="border rounded-1 mx-auto p-3"
          style="max-width: 600px;"
          id="formResetPassword"
          th:action="@{/reset_password}"
          method="POST">

        <!-- Hidden field to retain resetPasswordToken-->
        <input type="hidden" name="resetPasswordToken" th:value="${resetPasswordToken}"/>
        <div class="mb-3">
            <label class="form-label" for="passwordInput">New Password</label>
            <input type="password" class="form-control" name="newPassword" id="passwordInput" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
            <input type="password" class="form-control" name="email" id="confirmPasswordInput" />
        </div>

        <div>
            <input class="btn btn-primary w-100" type="submit" value="Save password"/>
        </div>

    </form>
</div>

<!-- Footer -->
<div th:replace="/fragment/footer :: web_footer">
</div>
<!-- End Footer -->

<!-- Bao gồm jQuery trước các script của bạn -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        // Xử lý submit form
        $('#formResetPassword').on('submit', async function(event) {
            event.preventDefault(); // Ngăn chặn việc gửi form mặc định

            // Thực hiện kiểm tra các trường
            const isFormValid = validateForm();

            if(isFormValid) {
                // Gửi form nếu mọi thứ hợp lệ
                $('#formResetPassword')[0].submit();
            }
        });
    });

    // Validate Form:
    function validateForm() {
        var isFormValid = true;
        if(!validatePassword()) {
            isFormValid = false;
        }

        if(!validateConfirmPassword()) {
            isFormValid = false;
        }


        return isFormValid;
    }


    function validatePassword() {
        const passwordInput = $('#passwordInput');
        const passwordInputValue= passwordInput.val();

        if(checkInputEmpty(passwordInput, passwordInputValue, "Password"))
            return true;
        return false;
    }

    function validateConfirmPassword() {
        const confirmPasswordInput = $("#confirmPasswordInput");
        const confirmPasswordInputValue= confirmPasswordInput.val();
        const passwordInputValue= $('#passwordInput').val();

        if(checkInputEmpty(confirmPasswordInput, confirmPasswordInputValue, "Confirm Password")){
            if(checkPasswordMatching(passwordInputValue))
                return true;
        }
        return false;
    }

    function checkPasswordMatching(password) {
        const confirmPasswordInput = $("#confirmPasswordInput");
        // Xóa thông báo lỗi trước đó
        confirmPasswordInput.removeClass("is-invalid");
        confirmPasswordInput.next(".invalid-feedback").remove();

        if(password !== "") {
            if(confirmPasswordInput.val() !== password) {
                confirmPasswordInput.addClass("is-invalid")
                confirmPasswordInput.after('<div class="invalid-feedback">Password and Confirm Password do not match.</div>');
                return false;
            }
        }
        return true;
    }

    function checkInputEmpty(inputField, inputValue, inputName) {
        // Xóa thông báo lỗi trước đó
        inputField.removeClass("is-invalid");
        inputField.next(".invalid-feedback").remove();

        if(inputValue.trim() === "") {
            inputField.addClass("is-invalid");
            inputField.after('<div class="invalid-feedback">'+inputName+' must not be empty.</div>');
            return false;
        }
        return true;
    }
</script>
</body>
</html>
