<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content_overview" th:remove="tag">
            <!-- Hidden Field ID-->
            <input type="hidden" id="id" th:field="*{id}" />


            <!-- Hidden Field Category ID-->
            <input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}" />

            <div class="mb-3 row row-cols-1 row-cols-sm-2 gy-3 gy-sm-0">
                <div class="col">
                    <label for="productName" class="form-label">Product Name</label>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        <input th:field="*{name}" type="text" class="form-control" id="productName" required>
                    </th:block>
                    <th:block sec:authorize="hasAuthority('Salesperson')">
                        <input th:field="*{name}" type="text" class="form-control" id="productName" readonly>
                    </th:block>
                </div>

                <div class="col">
                    <label for="productAlias" class="form-label">Alias</label>
                    <input th:field="*{alias}" type="text" class="form-control" id="productAlias"
                           placeholder="Default is Product Name (White spaces are replaced by dashes)"
                           readonly
                           required>
                </div>
            </div>

            <div class="mb-3">
                <label for="brandList" class="form-label">Brand</label>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <select th:field="*{brand}" class="form-select" id="brandList">
                        <option th:each="item : ${brandList}"
                                th:value="${item.id}"
                                th:text="${item.name}"
                        >
                        </option>
                    </select>
                </th:block>
                <!-- Nếu không phải là role Admin hay Editor và chỉ có role là Salesperson thì mới hiển thị readonly -->
                <th:block sec:authorize="!hasAuthority('Admin') and !hasAuthority('Editor')">
                    <th:block sec:authorize="hasAuthority('Salesperson')">
                        <input th:value="${product.brand.name}" type="text" class="form-control" readonly>
                    </th:block>
                </th:block>
            </div>

            <div class="mb-3">
                <label for="categoryList" class="form-label">Category</label>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <!-- present in case Edit Mode -->
                    <select th:if="${product.category!=null}" th:field="*{category}" class="form-select" id="categoryList">
                        <option
                                th:each="item : ${product.brand.categories}"
                                th:value="${item.id}"
                                th:text="${item.name}"
                        >
                        </option>
                    </select>

                    <!-- present in case Create Mode -->
                    <select th:if="${product.category==null}" th:field="*{category}" class="form-select" id="categoryList">
                    </select>
                </th:block>

                <!-- Nếu không phải là role Admin hay Editor và chỉ có role là Salesperson thì mới hiển thị readonly -->
                <th:block sec:authorize="!hasAuthority('Admin') and !hasAuthority('Editor')">
                    <th:block sec:authorize="hasAuthority('Salesperson')">
                        <input th:value="${product.category.name}" type="text" class="form-control" readonly>
                    </th:block>
                </th:block>
            </div>

            <div class="form-check mb-3">
                <label class="form-check-label" for="enabled">
                    Enabled
                </label>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <input th:field="*{enabled}" class="form-check-input" type="checkbox" value="" id="enabled">
                </th:block>

                <th:block sec:authorize="!hasAuthority('Admin') and !hasAuthority('Editor')">
                    <th:block sec:authorize="hasAuthority('Salesperson')">
                        <input th:field="*{enabled}" class="form-check-input" type="checkbox" value="" id="enabled" disabled>
                    </th:block>
                </th:block>
            </div>

            <div class="form-check mb-3">
                <label class="form-check-label" for="inStock">
                    In-Stock
                </label>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <input th:field="*{inStock}" class="form-check-input" type="checkbox" value="" id="inStock">
                </th:block>

                <th:block sec:authorize="!hasAuthority('Admin') and !hasAuthority('Editor')">
                    <th:block sec:authorize="hasAuthority('Salesperson')">
                        <input th:field="*{inStock}" class="form-check-input" type="checkbox" value="" id="inStock" disabled>
                    </th:block>
                </th:block>
            </div>

            <div class="mb-3">
                <label for="cost" class="form-label">Cost</label>
                <input th:field="*{cost}" type="number" class="form-control" id="cost" required>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input th:field="*{price}" type="number" class="form-control" id="price" required>
            </div>

            <div class="mb-3">
                <label for="discountPercent" class="form-label">Discount Percent</label>
                <input th:field="*{discountPercent}" type="number" class="form-control" id="discountPercent" required>
            </div>
    </div>
</body>
</html>