<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content_description_readonly" th:remove="tag">
    <div class="mb-5">
        <b class="form-label" for="shortDescription">Short description:</b>
        <!-- th:utext : để unscript mã html -->
        <div th:utext="${product.shortDescription}">
        </div>
    </div>
    <div class="mb-3">
        <b class="form-label" for="shortDescription">Full description:</b>
        <div th:utext="${product.fullDescription}">
        </div>
    </div>
</div>
</body>
</html>