<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragment Header Admin</title>
</head>
<body>
    <!-- Header admin-->
    <nav th:fragment="web_header" class="navbar navbar-expand-xl custom-navbar">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{${SITE_LOGO}}" alt="logo Shopme Admin" style="width: 150px; height:60px; object-fit: cover; object-position: center;"/>
            </a>
            <!-- Icon Category for mobile responsive -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop">
                <span class="navbar-toggler-icon" style="color : white;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END Header admin-->
</body>
</html>