<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragment/fragments :: html_head('Error page', 'tag')">
    </div>
    <style>

    </style>
</head>
<body>
<!-- Header -->
<div th:replace="/fragment/header :: admin_header">
</div>
<!-- END Header -->

<div class="min-vh-100 container overflow-hidden">
    <img style="width:65%;" class="img-fluid d-flex mx-auto" th:src="@{/images/error500.jpg}" alt="500 internal server error image"/>
    <div class="text-center">
        <h2 style="font-size: 24px;">Internal Server Error.</h2>
        <p>We apologize for the inconvenience. Please try again later or go to out Main page</p>
        <a th:href="@{/}" class="btn btn-primary shadow text-white">
            Go Back
        </a>
    </div>
</div>

<!-- Footer -->
<div th:replace="/fragment/footer :: admin_footer">
</div>
<!-- End Footer -->
</body>
</html>